/* External FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar */
.navbar {
    margin: 15px;
    background: #CCCCFF;
}

/* SECTION 01 */
.section-1 {
    margin: 15px;
}

.section1-card1 {
    text-align: center;
    padding: 40px 20px;
    border: 1px solid rgba(117, 4, 4, 0.782);
}

.triangle:hover {
    background-color: #d971f1;
}

.parallelogram:hover {
    background-color: #5f5f6c;
}

.rectangle:hover {
    background-color: #787a4f;
}

.rhombus:hover {
    background-color: #d7dee1;
}

.pentagon:hover {
    background-color: #484832;
}

.ellipse:hover {
    background-color: #c4816b;
}


.section1-card1-heading {
    font-weight: bolder;
    margin-top: 3%;
}

.section1-card1-formula {
    margin-bottom: 3%;
}

.section1-card1-inputbox {
    margin-bottom: 4%;
}

.section1-card1-inputbox input {
    outline: transparent;
    border: hidden;
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding: 10px;
    width: 20%;
}

.btn-primary {
    background-color: #1090D8;
}

.btn-primary:hover {
    background-color: #1090D8;
}

/* Flex */
.section-1 {
    display: flex;
    gap: 20px;
}

.section1-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



/* COMPLETED  */
.mylist-items {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

ol {
    display: none;
}

/* Footer */
.footer{
    padding: 20px 0px;
    text-align: center;
    background-color: black;
    color: white;

}

/* responsive */

@media screen and (min-width:577px) and (max-width:992px) {
    .navbar {
        margin: 0px;
    }

    .section-1 {
        flex-direction: column-reverse;
        gap: 5px;
    }

    .section1-left {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* 
    FOR POTRAIT AND SMALL MOBILE DEVICES;
*/

@media screen and (max-width:576px) {
    .navbar {
        margin: 0px;
    }

    .section-1 {
        gap: 5px;
        flex-direction: column-reverse;
    }

    .section1-left {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .mylist-items{
        grid-template-columns: repeat(2,1fr);
    }
    .footer{
        padding: 20px 30px;
    }
}